.hero{
    width: 100%;
    min-height: 100vh;
    background:linear-gradient(rgba(8,0,58,0.7),rgba(8,0,58,0.7)), url('../../assets/backg.png');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}
.hero-text{
    text-align: center;
    max-width: 800px;
}
.hero-text h1{
    font-size: 50px;
    font-weight: 500;
}
.hero-text p{
    max-width: 700;
    margin: 10px auto 20 px;
    line-height: 1.4;
    padding-bottom:2%;
    padding-top: 1%;
}